include LICENSE
include *.db
include *.js
include spydra/*.db
include spydra/*.db*
include spydra/*.db-*
include spydra/py.typed
include spydra/.spydra_dependencies_installed
include .spydra_dependencies_installed

recursive-exclude * __pycache__
recursive-exclude * *.py[co]